  {{> header}}

  <div class="overlay"><div class="loading"></div></div>
  <div class="frame">
    <canvas id="stage" width="500" height="100"></canvas>
  </div>
  <header class="intro-text">
    <div class="inner">
      {{> about}}
    </div>

    <i class="fa fa-angle-down scrolldown"></i>
  </header>



  <section class="full-width">
      <article class="item-1 blog rectangle">
        <header>
          <h2><a href="{{articles.[0].url}}">{{articles.[0].title}}</a></h2>
          <p class="date"><span>{{date articles.[0].metadata.date}}</span></p>
        </header>
        <section class="summary">
          {{{typogr articles.[0].intro}}}
          {{#if articles.[0].hasMore}}
            <p class="more"><a href="{{articles.[0].url}}">Read more</a></p>
          {{/if}}
        </section>
      </article>

      <article class="item-2 instagram square-small"></article>

      <article class="item-3 instagram square-small"></article>

      <article class="item-4 twitter square">
        <a href="http://twitter.com/petethedude" target="_blank">
        <span class="tweet"></span>
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>

      <article class="item-5 instagram square"></article>

      <article class="item-6 twitter square">
        <a href="http://twitter.com/petethedude" target="_blank">
        <span class="tweet"></span>
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>

      <article class="item-7 instagram square"></article>

      <article class="item-8 blog rectangle">
        <header>
          <h2><a href="{{articles.[1].url}}">{{articles.[1].title}}</a></h2>
          <p class="date"><span>{{date articles.[1].metadata.date}}</span></p>
        </header>
        <section class="summary">
          {{{typogr articles.[1].intro}}}
          {{#if articles.[1].hasMore}}
            <p class="more"><a href="{{articles.[1].url}}">Read more</a></p>
          {{/if}}
        </section>
      </article>

      <article class="item-9 blog rectangle">
        <header>
          <h2><a href="{{articles.[2].url}}">{{articles.[2].title}}</a></h2>
          <p class="date"><span>{{date articles.[2].metadata.date}}</span></p>
        </header>
        <section class="summary">
          {{{typogr articles.[2].intro}}}
          {{#if articles.[2].hasMore}}
            <p class="more"><a href="{{articles.[2].url}}">Read more</a></p>
          {{/if}}
        </section>
      </article>

      <article class="item-10 instagram square"></article>

      <article class="item-11 twitter square">
        <a href="http://twitter.com/petethedude" target="_blank">
        <span class="tweet"></span>
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>

      <article class="item-12 instagram square"></article>

      <article class="item-13 twitter square">
        <a href="http://twitter.com/petethedude" target="_blank">
        <span class="tweet"></span>
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>



      <article class="item-14 instagram square-small"></article>

      <article class="item-15 instagram square-small"></article>

      <article class="item-16 blog rectangle">
        <header>
          <h2><a href="{{articles.[3].url}}">{{articles.[3].title}}</a></h2>
          <p class="date"><span>{{date articles.[3].metadata.date}}</span></p>
        </header>
        <section class="summary">
          {{{typogr articles.[3].intro}}}
          {{#if articles.[3].hasMore}}
            <p class="more"><a href="{{articles.[3].url}}">Read more</a></p>
          {{/if}}
        </section>
      </article>


  </section>





  {{> footer}}

