  {{> header}}

  <div class="overlay"><div class="loading"></div></div>
  <div class="frame">
    <canvas id="stage" width="500" height="100"></canvas>
  </div>
  <header class="intro-text">
    <div class="inner">
      {{> about}}
    </div>

    <i class="fa fa-angle-down scrolldown"></i>
  </header>



  <section class="full-width">
      <article class="art-1 blog">
        <header>
          <h2><a href="{{articles.[0].url}}">{{articles.[0].title}}</a></h2>
          <p class="date"><span>{{articles.[0].date metadata.date}}</span></p>
        </header>
        <section class="summary">
          {{{typogr articles.[0].intro}}}
          {{#if articles.[0].hasMore}}
            <p class="more"><a href="{{articles.[0].url}}">Read more</a></p>
          {{/if}}
        </section>
      </article>

      <article class="art-2 instagram"></article>

      <article class="art-3 instagram"></article>

      <article class="art-4 twitter">
        <a href="http://twitter.com/petethedude" target="_blank">
        <span class="tweet"></span>
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>

      <article class="art-5 instagram"></article>

      <article class="art-6 twitter">
        <a href="http://twitter.com/petethedude" target="_blank">
        <span class="tweet"></span>
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>

      <article class="art-7 instagram"></article>

      <article class="art-8 blog">
        <header>
          <h2><a href="/articles/code-changes-not-displaying-after-refresh/">PSA: Why your code changes are not displaying after browser refresh</a></h2>
          <p class="date"><span>March 28, 2014</span></p>
        </header>
        <section class="summary">
          <p>After weeks of frustration, I finally figured out why my <span class="caps">PHP</span> code changes on my local development box weren’t always coming up in the browser after several refreshes. As it turns out, it’s a new OPCache setting as of PHP 5.5 that comes with&nbsp;MAMP.
            </p><p class="more"><a href="/articles/code-changes-not-displaying-after-refresh/">Read more</a></p>
        </section>
      </article>

      <article class="art-9 blog">
        <header>
          <h2><a href="/articles/new-ghost-inspired-wordpress-theme/">New Ghost.js inspired WordPress theme</a></h2>
          <p class="date"><span>December 15, 2013</span></p>
        </header>
        <section class="summary">
          <p>Recently, I’ve been inspired by the Ghost blogging platform, which I think has a really clean and elegant default theme, so I built a WordPress theme that borrows from some of the ideas that I liked from that&nbsp;theme.</p><p class="more"><a href="/articles/new-ghost-inspired-wordpress-theme/">Read more</a></p>
        </section>
      </article>

      <article class="art-10 instagram"></article>

      <article class="art-11 twitter">
        <a href="http://twitter.com/petethedude" target="_blank">
        <span class="tweet"></span>
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>

      <article class="art-12 instagram"></article>

      <article class="art-13 twitter">
        <a href="http://twitter.com/petethedude" target="_blank">
        <span class="tweet"></span>
        <br><i class="fa fa-twitter"></i> @petethedude
      </a>
      </article>



      <article class="art-14 instagram"></article>

      <article class="art-15 instagram"></article>

      <article class="art-16 blog">
        <header>
          <h2><a href="{{articles.[3].url}}">{{articles.[3].title}}</a></h2>
          <p class="date"><span>{{articles.[3].date metadata.date}}</span></p>
        </header>
        <section class="summary">
          {{{typogr articles.[3].intro}}}
          {{#if articles.[3].hasMore}}
            <p class="more"><a href="{{articles.[3].url}}">Read more</a></p>
          {{/if}}
        </section>
      </article>


  </section>





  {{> footer}}

